doctype html
html
    head
        title= title
        script(src="/js/jquery/jquery-3.3.1.min.js", type="text/javascript")
        script(src="/js/chat.js", type="text/javascript")
        link(rel="stylesheet", href="/css/styles.css")
    body
        div(class="center")
            div(id="messageListWrapper")
        p
            h2= pageName
            div Test