doctype html
html
    head
        title= pageName
        script(src="/js/jquery/jquery-3.3.1.slim.min.js", type="text/javascript")
        script(src="/js/chat.js", type="text/javascript")
        link(rel="stylesheet", href="/css/styles.css")
    body
        p
            h2= pageName
            h3 Test